.header-container {
  position: relative;
  width: 100%;
  height: 43.75rem; /* 700px */
  overflow: hidden;
}

.header-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.header-content {
  position: absolute;
  top: 20%;
  left: 5%;
  color: white;
  max-width: 25rem; /* 400px */
  font-family: 'Arial', sans-serif;
  user-select: none;
}

.small-title {
  font-size: 0.875rem; /* 14px */
  font-weight: 600;
  letter-spacing: 0.125rem; /* 2px */
  color: rgb(0, 0, 0);
  opacity: 0.9;
  text-transform: uppercase;
  margin-bottom: 0.625rem; /* 10px */
}

.main-title {
  font-size: 3.75rem; /* 60px */
  font-weight: 900;
  margin: 0 0 0.9375rem 0; /* 15px */
  line-height: 1.1;
}

.description {
  font-size: 0.75rem; /* 12px */
  letter-spacing: 0.09375rem; /* 1.5px */
  opacity: 0.8;
  margin-bottom: 1.875rem; /* 30px */
  font-style: italic;
}

.shop-button {
  background-color: white;
  color: black;
  font-size: 1.125rem; /* 18px */
  font-weight: 700;
  padding: 0.9375rem 2.5rem; /* 15px 40px */
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
  user-select: none;
  letter-spacing: 0.125rem; /* 2px */
}

.shop-button:hover {
  background-color: #000000;
  color: aliceblue;
}

@media (max-width: 768px) {
  .header-container {
    height: 28rem; /* πιο μικρό ύψος */
  }

  .header-content {
    top: 15%;
    left: 5%;
    max-width: 90%;
  }

  .small-title {
    font-size: 0.75rem; /* 12px */
    letter-spacing: 1px;
  }

  .main-title {
    font-size: 2rem; /* 32px */
    line-height: 1.2;
  }

  .description {
    font-size: 0.6875rem; /* 11px */
    letter-spacing: 1px;
  }

  .shop-button {
    font-size: 0.875rem; /* 14px */
    padding: 0.625rem 1.5rem; /* 10px 24px */
  }
}

@media (max-width: 480px) {
  .header-content {
    position: absolute;
    top: 52%;
    left: 5%;
    color: white;
    max-width: 25rem; /* 400px */
    font-family: 'Arial', sans-serif;
    user-select: none;
  }
  .main-title {
    font-size: 1.95rem; /* 28px */
  }

  .description {
    font-size: 0.79rem; /* 12px */
  }
  .shop-button {
    width: 100%;
    padding: 0.75rem 0;
  }
}
